.bar-chart rect {
  fill: #98abc5;
}

.bar-chart text {
  fill: black;
  font: 14px sans-serif;
  text-anchor: middle;
}

.bar-chart__label-y {
    transform: translate(10px, 0px);

    text {
        text-anchor: start;
    }

    .domain, line {
        display: none;
    }
}