<header>
    <div class="bg-dark" id="navbarHeader">

    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Blender Opendata</strong>
            </a>
        </div>
    </div>
</header>