<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Blender Opendata</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <p>
            <a href="/benchmarks.json" class="btn btn-primary my-2">Download Benchmarks</a>
        </p>
    </div>
</section>