{% extends "layout.html" %}

{% block content %}
{{ block.super }}

{% include 'elements/_hero.html' %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6 box-shadow">
                    <figure class="d-flex p-2 justify-content-center">
                        <svg id="device-types" class="pie-chart" width="300" height="300"></svg>
                    </figure>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="/api/benchmark-query/device-type-count/#"
                                   role="button">View data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6 box-shadow">
                    <figure class="d-flex p-2 justify-content-center">
                        <svg id="render-time" class="bar-chart" width="400" height="300"></svg>
                    </figure>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="/api/benchmark-query/time-memory-percentiles/"
                                   role="button">View data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

