{% load render_bundle from webpack_loader %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Blender Opendata</title>
    {% render_bundle 'main' %}
</head>
<body>

{% include 'elements/_header.html' %}

<main role="main">
  {% block content %} {% endblock %}
</main>
{% include 'elements/_footer.html' %}
</body>
</html>